// This is a SASS partial file


// SASS Variable 
$color1: orange; 
//

// CSS Variable 
// --color1: #4cbb17;
// Var(--color1)

// SASS Mixin 
@mixin flex ($position) {
    display: flex; 
    justify-content:
    $position; 
    align-items: ($position);
}

@mixin colors {
    color: blue;
    border: 3px solid
    rebeccapurple;
}

%colors {
    color: blue;
    border: 3px solid
    rebeccapurple;
}
